# Authors: Sabayon Team
#          geaaru@sabayonlinux.org
pipeline_name: "Repository AMD64 {{ .TargetRepoName }} Pipeline"
concurrency: 3
{{ $amd64_queue_staging := .Amd64QueueStaging }}
{{ $amd64_queue_injector := .Amd64QueueInjector }}
{{ $task_type_staging := .LxdTypeStaging }}
{{ $task_type_injector := .LxdTypeInjector }}
{{ $target_prefix_repo := .TargetPrefixRepo }}
{{ $target_repo_name := .TargetRepoName }}
{{ $target_repo := .TargetRepo }}
{{ $precommands := .PreCommands }}
{{ $skip_inject := .SkipInject }}
{{ $source_git := .SourceGit }}{{ $source_dir := .SourceDir }}
{{ $expiry_days := .ExpireDays }}
{{ if .Chain }}
chain:
{{ range $index, $staging := .stagings }}
  - {{ $index }}{{ end }}
  - injector
{{ else }}
chain:
{{ range $index, $staging := .stagings }}
  - {{ $index }}{{ end }}
  - injector
{{ end }}
tasks:
{{ range $index, $staging := .stagings }}
  {{ $index }}:
    script:
      - source /etc/profile
      # Temporary workaround for delay on DHCP response
      - sleep 4
      - wget https://raw.githubusercontent.com/Sabayon/sabayon-sark/develop/sark-functions.sh -O /sbin/sark-functions.sh
      - chmod 755 /sbin/sark-functions.sh
      - cp -rfv /sbin/sark-functions.sh /etc/sark-functions
      - chmod 755 /etc/sark-functions
      - wget https://raw.githubusercontent.com/Sabayon/devkit/develop/builder -O /usr/sbin/builder
      - wget https://raw.githubusercontent.com/Sabayon/sabayon-sark/develop/sark-localbuild -O /usr/bin/sark-localbuild
      - wget https://raw.githubusercontent.com/Sabayon/sabayon-sark/develop/sark-localcreaterepo -O /usr/bin/sark-localcreaterepo
      - wget https://downloads.svc.sabayon.org/pkgs-checker-cross-bin/pkgs-checker-latest-linux-amd64 -O /usr/bin/pkgs-checker
      - chmod a+x /usr/sbin/builder
      - chmod a+x /usr/bin/sark-localcreaterepo
      - chmod a+x /usr/bin/sark-localbuild
      - chmod a+x /usr/bin/pkgs-checker
      - eselect python set python3.7
      - enman add https://get.mocaccino.org/scr/{{ $target_prefix_repo }}/{{ $target_repo }}
      # 2020-09-12 optiz0r - devel repo is preinstalled in sabayon/builder but pointing at a nonfunctional mirror
      # adding and removing corrects the repo url as a workaround until image is updated
      - enman remove devel && enman add https://get.mocaccino.org/scr/devel/devel
      - equo up && equo upgrade
    {{ if $precommands }}
    {{ range $cmd := $precommands }}
      - {{ $cmd }}{{ end }}
    {{ end }}
      - sark-localbuild
      - eval 'rm artifacts/build_*.log || true'
      - mkdir artifacts/{{ $index }}
      - mv artifacts/{{ $target_repo }}-binhost/ artifacts/{{ $index }}/
    environment:
      - SHELL=/bin/bash
      - SABAYON_ARCH=amd64
      - REPOSITORY_NAME={{ $target_repo }}
      - SAB_BUILDFILE={{ $target_prefix_repo }}-build-{{ $index }}.yml
      - ETP_NONINTERACTIVE=1
      # I need call emerge-webrsync at begin to retrive data for active profile.
      # Note: When SKIP_PORTAGE_SYNC is equal to 1 "layman -S" is not executed.
      # - SKIP_PORTAGE_SYNC=1
      - SKIP_CLEAN_PACKAGESDIR=1
      - SAB_PORTDIR=/etc/portage
      - "CREATEREPO_PHASE=false"
      - "ACCEPT_LICENSE=*"
      - "PORTAGE_GIT_URL=https://github.com/Sabayon/gentoo-mirror"
      - "PORTAGE_GIT_BRANCH=master"
      # Override list of targets for compile specific packages.
      # - OVERRIDE_BUILD_TARGET="app/foo"
    name: "AMD64 {{ $target_repo_name }} ({{ replaceAll $index "s" "S" }})"
    artefact_path: artifacts
    image: sabayon/builder
    {{ if $task_type_staging }}
    type: lxd
    {{ else }}
    type: docker
    {{ end }}
    source: {{ if $source_git }}{{ $source_git }}{{ else }}https://github.com/Sabayon/sbi-tasks{{ end }}
    directory: {{ if $source_dir }}{{ $source_dir }}{{ else }}/next/amd64/{{ $target_prefix_repo }}{{ end }}
    queue: {{ if $amd64_queue_staging }}{{ $amd64_queue_staging }}{{ else }}""{{ end }}
    tag_namespace: {{ $target_repo }}-{{ $index }}
{{ end }}

  injector:
{{ $keys := getKeys .stagings | sort }}
{{ $namespace_prefix := printf "%s%s" $target_repo "-" }}
{{ $staging_namespaces := joinWithPrefix $keys "," $namespace_prefix }}
{{ $bfiles_prefix := printf "%s%s" $target_prefix_repo "-build-" }}
{{ $pkglist_bfiles := joinWithPrefixAndPostfix $keys " " $bfiles_prefix ".yml" }}
{{ $injector_sources := $staging_namespaces }}
{{ $keys := join $keys " " }}
    storage: 'mocaccino-creds'
    script:
      - source /etc/profile
      - wget https://raw.githubusercontent.com/Sabayon/sabayon-sark/develop/sark-functions.sh -O /sbin/sark-functions.sh
      - chmod 755 /sbin/sark-functions.sh
      - cp -rfv /sbin/sark-functions.sh /etc/sark-functions
      - chmod 755 /etc/sark-functions
      - curl --no-progress-meter https://get.mocaccino.org/luet/get_luet_root.sh | sh
      - luet install -y repository/mocaccino-extra-stable
      - luet install -y system/luet-extensions net-fs/minio-client
      - source storage/env
      - wget https://raw.githubusercontent.com/Sabayon/devkit/develop/builder -O /usr/sbin/builder
      - wget https://raw.githubusercontent.com/Sabayon/sabayon-sark/develop/sark-localbuild -O /usr/bin/sark-localbuild
      - wget https://raw.githubusercontent.com/Sabayon/sabayon-sark/develop/sark-localcreaterepo -O /usr/bin/sark-localcreaterepo
      - wget https://raw.githubusercontent.com/Sabayon/sabayon-sark/develop/sark-localinjector -O /usr/bin/sark-localinjector
      - wget https://downloads.svc.sabayon.org/pkgs-checker-cross-bin/pkgs-checker-latest-linux-amd64 -O /usr/bin/pkgs-checker
      - chmod a+x /usr/sbin/builder
      - chmod a+x /usr/bin/sark-localcreaterepo
      - chmod a+x /usr/bin/sark-localbuild
      - chmod a+x /usr/bin/sark-localinjector
      - chmod a+x /usr/bin/pkgs-checker
      - mc alias set minio-ci $MINIO_URL $MINIO_ID $MINIO_SECRET
      - mc mirror minio-ci/scr/${REPOSITORY_NAME} $PWD/artifacts
      - eselect python set python3.7
      # Force py3.6 on eit
      #- sed -e 's:python2.7:python:g' -i /usr/bin/eit
      - enman add https://get.mocaccino.org/scr/{{ $target_repo }}/{{ $target_repo }}
      # 2020-09-12 optiz0r - devel repo is preinstalled in sabayon/builder but pointing at a nonfunctional mirror
      # adding and removing corrects the repo url as a workaround until image is updated
      - enman remove devel && enman add https://get.mocaccino.org/scr/devel/devel
      - equo up && equo upgrade
      - sark-localinjector
      - eval 'rm artifacts/build_*.log || true'
      - eval 'rm -rf artifacts/staging* -rf || true'
      - mc cp --recursive $PWD/artifacts/ minio-ci/scr/${REPOSITORY_NAME}/
    environment:
      - SHELL=/bin/bash
      - SABAYON_ARCH=amd64
      - ETP_NONINTERACTIVE=1
      - REPOSITORY_NAME={{ $target_repo }}
      - REPO_CLEAN_EXPIRE=1
      - REPO_CLEAN_EXPIRE_DAYS={{ $expiry_days }}
      - SKIP_COMMIT=1
      # Pull is required for remove packages from repository. (SKIP_PULL=0)
      - SKIP_PULL=0
      - "SAB_STAGING_BUILD_RESOURCES={{ $pkglist_bfiles }}"
    {{ if $skip_inject }}
      - SKIP_INJECT=1
    {{ else }}
      - SKIP_INJECT=0
    {{ end }}
      - "ACCEPT_LICENSE=*"
      - "PORTAGE_GIT_URL=https://github.com/Sabayon/gentoo-mirror"
      - "PORTAGE_GIT_BRANCH=master"
      - "REPOSITORY_DESCRIPTION={{ $target_repo_name }} AMD64 Sabayon Repository"
      - "SAB_STAGING_DIRS={{ $keys }}"
      - REPO_BINHOST_CLEAN=1
      - SAB_BUILDFILE={{ $target_prefix_repo }}-build-inject.yml
      # Skip errors on process existing broken tarballs
      #- "PKGS_CHECKER_MAXCONCURRENCY=3"
      # Override pkgs-checker filter options
      # - "PKGS_CHECKER_FILTER_OPTS=-L INFO -v"
      - "EIT_REMOVE_OPTS=--quick --nodeps"
      # Force remove of packages from repository after injection
      # - "TOREMOVE=app/foo"
    image: sabayon/builder
    type: {{ if $task_type_injector }}lxd{{ else }}docker{{ end }}
    artefact_path: artifacts
    queue: {{ if $amd64_queue_injector }}{{ $amd64_queue_injector }}{{ else }}""{{ end }}
    name: "AMD64 {{ $target_repo_name }} Repo (injector)"
    source: {{ if $source_git }}{{ $source_git }}{{ else }}https://github.com/Sabayon/sbi-tasks{{ end }}
    directory: {{ if $source_dir }}{{ $source_dir }}{{ else }}/next/amd64/{{ $target_prefix_repo }}{{ end }}
    namespace: "{{ $injector_sources }}"
