{{ $staging := index .stagings .StagingPhase }}
{{ $overlays := index $staging "overlays" }}
{{ $remote_overlays := index $staging "remote_overlay" }}
{{ $script_pre := index $staging "script_pre" }}
build:
{{ if $script_pre }}
  script:
    pre:
      {{ range $index, $s := $script_pre }}
      - {{ $s }}
      {{ end }}
{{ end }}

  equo:
    dependency_install:
      enable: {{ if .EquoDepsInstallEnable }}{{ .EquoDepsInstallEnable }}{{ else }}1{{ end }}
      install_atoms: {{ if .EquoInstallAtoms }}{{ .EquoInstallAtoms }}{{ else }}1{{ end }}
      dependency_scan_depth: {{ if .EquoDepsInstallScanDepth }}{{ .EquoDepsInstallScanDepth }}{{ else }}2{{ end }}
      # It seems that sometime dependencies calculation
      # doesn't catch all packages. I will investigate
      # split_install: 1

    package:
{{ if .EquoPackagesMask }}
      mask:
{{ range $index, $p := .EquoPackagesMask }}
        - {{ $p }}
{{ end }}
{{ end }}
{{ if .EquoPackagesUnmask }}
      unmask:
{{ range $index, $p := .EquoPackagesUnmask }}
        - {{ $p }}
{{ end }}
{{ end }}
{{ if .EquoPackagesInstall }}
      install:
{{ range $index, $p := .EquoPackagesInstall }}
        - {{ $p }}
{{ end }}
{{ end }}
{{ if .EquoPackagesRemove }}
      remove:
{{ range $index, $p := .EquoPackagesRemove }}
        - {{ $p }}
{{ end }}
{{ end }}
  qa_checks: {{ if .QaCheck }}{{ .QaCheck }}{{ else }}0{{ end }}
  emerge:
    profile: "default/linux/amd64/17.0/desktop"

    # Install each package separately
    split_install: {{ if .EmergeSplitInstall }}{{ .EmergeSplitInstall }}{{ else }}1{{ end }}
    preserved_rebuild: {{ if .EmergePreservedRebuild }}{{ .EmergePreservedRebuild }}{{ else }}1{{ end }}
    jobs: {{ if .EmergeJobs }}{{ .EmergeJobs }}{{ else }}3{{ end }}
{{ if .EmergeDefaultArgs }}
    default_args: {{ .EmergeDefaultArgs }}
{{ else }}
    default_args: --accept-properties=-interactive -t --complete-graph --newuse --deep --with-bdeps=y --buildpkg --update
{{ end }}
{{ if .EmergeFeatures }}
    features: {{ .EmergeFeatures }}
{{ else }}
    features: assume-digests binpkg-logs -userpriv config-protect-if-modified distlocks ebuild-locks fixlafiles merge-sync parallel-fetch preserve-libs protect-owned sandbox sfperms splitdebug strict
{{ end }}

{{ if $remote_overlays }}
    remote_overlay:
      {{ range $index, $ro := $remote_overlays }}
      - {{ $ro }}
      {{ end }}
{{ end }}

{{ if $overlays }}
  overlays:
    {{ range $index, $o := $overlays }}
    - {{ $o }}
    {{ end }}
{{ end }}

{{ $target := index $staging "target" }}
  target:
    {{ range $index, $t := $target }}
    - {{ $t }}
    {{ end }}

