storage: 'mocaccino-creds'
script:
- source /etc/profile
- source storage/env
# Temporary workaround for delay on DHCP response
- sleep 4
- systemctl start docker
- mkdir -p $HOME/.docker
- 'echo "{\"experimental\": \"enabled\",\"auths\": { \"https://index.docker.io/v1/\": {}}}" > $HOME/.docker/config.json'
- docker login -u $DOCKER_USER -p $DOCKER_PASSWORD $DOCKER_REGISTRY
- luet upgrade
# Temporary fetch last build from develop
- luet install repository/mocaccino-extra-stable
- luet install system/luet-extensions net-fs/minio-client
- mc alias set minio-ci $MINIO_URL $MINIO_ID $MINIO_SECRET
- git clone -b $BRANCH $REPO ./luet-repo && cd luet-repo
- mkdir build/
- luet --version
- make rebuild
- find build/
- mc cp --recursive $PWD/build/ minio-ci/${REPO_NAME}/
# For debug/throubleshooting
- cp -vrf build/* ../artefacts/
environment:
- REPO_NAME={{ .RepoName }}
- REPO={{ .RepoUrl }}
- BRANCH={{ .RepoBranch }}
- SHELL=/bin/bash
- LUET_SYSTEM__TMPDIR_BASE=/luettmp
- LUET_YES=true
- TMPDIR=/luettmp
{{ if .Clean }}
- CLEAN=true
{{ end }}
- "PACKAGES={{ .LuetPkgs }}"
- "BUILD_ARGS=--pull --push --config ./conf/luet.yaml --only-target-package --live-output --no-spinner"
- "SUDO="
name: "{{ .TaskName }}"
image: mocaccino/builder
type: lxd
directory: /
queue: lxd
