storage: 'mocaccino-credentials,minio'
script:
- source /etc/profile
- source storage/env
# Temporary workaround for delay on DHCP response
- sleep 4
- systemctl start docker
- mkdir -p $HOME/.docker
- 'echo "{\"experimental\": \"enabled\",\"auths\": { \"https://index.docker.io/v1/\": {}}}" > $HOME/.docker/config.json'
- docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
- source storage/login.sh
- curl --no-progress-meter https://get.mocaccino.org/luet/get_luet_root.sh | sh
# Temporary fetch last build from develop
- wget -q https://downloads.svc.sabayon.org/luet-cross-bin/luet-latest-linux-amd64 -O /usr/bin/luet && chmod a+x /usr/bin/luet
- sudo luet install system/container-diff system/luet-extensions repository/mocaccino-extra
- git clone -b $BRANCH $REPO ./luet-repo && cd luet-repo
- luet config
- mkdir build/
- make rebuild
- ls -l build/
- mc cp --recursive $PWD/build/ minio-ci/${REPO_NAME}/
- cp -vrf build/* ../artefacts/
environment:
- REPO_NAME=mocaccino-kernel
- REPO=https://github.com/mocaccinoOS/kernel-repo.git
- BRANCH=master
- SHELL=/bin/bash
- TREE=packages
- LUET_SYSTEM__TMPDIR_BASE=/luettmp
#  - CLEAN=true
- "PACKAGES={{ .LuetPkgs }}"
- BUILD_ARGS=--pull --push --image-repository mocaccinoos/kernel-repo-amd64-cache --config ./conf/luet.yaml
- "SUDO="
name: "{{ .TaskName }}"
image: sabayon/builder
type: lxd
directory: /
queue: lxd
