name: "SCR {{.SCRRepo}}"
source: https://github.com/Sabayon/community-repositories
directory: /{{.SCRRepo}}
image: sabayon/builder
namespace: {{.SCRRepo}}
tag_namespace: {{.SCRRepo}}
artefact_path: artifacts
cache_image: "yes"
script:
- sark-localbuild
- eval 'rm artifacts/build_*.log || true'
storage: "{{.Storage}}"
storage_path: confs
type: docker_execute
timeout: 64800
{{if .Recurring}}
planned: "{{.Recurring}}"
{{end}}