source: '{{.SourceRepo}}'
directory: '{{.Directory}}'
image: 'sabayon/base-{{.Arch}}'
storage: '9317096982217158'
script:
   - source storage/env
   - equo up && ACCEPT_LICENSE=* equo i docker
   - mkdir -p $HOME/.docker
   - 'echo "{\"experimental\": \"enabled\",\"auths\": { \"https://index.docker.io/v1/\": {}}}" > $HOME/.docker/config.json'
   - docker build --no-cache --rm -t {{.Image}}-{{.Arch}}:latest .
   - docker login -u $DOCKER_USER -p $DOCKER_PASS
   - docker push {{.Image}}-{{.Arch}}:latest
   - docker manifest create --amend {{.Image}}:latest {{.Image}}-{{.Arch}}:latest
   - docker manifest annotate {{.Image}}:latest {{.Image}}-{{.Arch}}:latest --arch {{.Arch}} --os linux
   - docker manifest inspect {{.Image}}:latest
   - docker manifest push --purge {{.Image}}:latest
type: docker_execute
name: "Build {{.Image}} Docker image"
planned: "@daily"
